<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>AngleMode</key>
		<integer>3</integer>
		<key>AnimAspectD</key>
		<real>0.0</real>
		<key>AnimAspectR</key>
		<real>0.37000000476837158</real>
		<key>AnimBalanceD</key>
		<real>0.0</real>
		<key>AnimBalanceR</key>
		<real>0.37999999523162842</real>
		<key>AnimBendD</key>
		<real>0.0</real>
		<key>AnimBendR</key>
		<real>0.31000000238418579</real>
		<key>AnimGeoDelayD</key>
		<real>0.0</real>
		<key>AnimGeoDelayR</key>
		<real>0.34999999403953552</real>
		<key>AnimGeoRatioD</key>
		<real>0.0</real>
		<key>AnimGeoRatioR</key>
		<real>0.36000001430511475</real>
		<key>AnimLengthBalanceD</key>
		<real>0.0</real>
		<key>AnimLengthBalanceR</key>
		<real>0.38999998569488525</real>
		<key>AnimLengthRatioD</key>
		<real>0.0</real>
		<key>AnimLengthRatioR</key>
		<real>0.40303030610084534</real>
		<key>AnimSpinD</key>
		<real>0.33030304312705994</real>
		<key>AnimSpinR</key>
		<real>0.31999999284744263</real>
		<key>AnimSpreadD</key>
		<real>0.0</real>
		<key>AnimSpreadR</key>
		<real>0.29393938183784485</real>
		<key>AnimTwistD</key>
		<real>0.34242424368858337</real>
		<key>AnimTwistR</key>
		<real>0.33000001311302185</real>
		<key>AnimWindDepth</key>
		<real>0.1953125</real>
		<key>AnimWindRate</key>
		<real>0.4661458432674408</real>
		<key>ApexType</key>
		<integer>3</integer>
		<key>Aspect</key>
		<real>0.5</real>
		<key>BackgroundColor</key>
		<integer>4291803858</integer>
		<key>Balance</key>
		<real>0.5</real>
		<key>Bend</key>
		<real>0.5</real>
		<key>BranchCount</key>
		<integer>2</integer>
		<key>ColorSize</key>
		<real>0.2057291716337204</real>
		<key>ColorTransition</key>
		<real>0.75260418653488159</real>
		<key>Detail</key>
		<real>0.79427081346511841</real>
		<key>GeoDelay</key>
		<real>0.2838541567325592</real>
		<key>GeoNodes</key>
		<integer>4</integer>
		<key>GeoRatio</key>
		<real>0.7109375</real>
		<key>IconFile</key>
		<string>04CDFD86-AEB2-4B89-A271-90F585703F37</string>
		<key>IntervalCount</key>
		<integer>2</integer>
		<key>IntervalStart</key>
		<integer>2</integer>
		<key>LeafColor</key>
		<integer>4282851864</integer>
		<key>LengthBalance</key>
		<real>0.5</real>
		<key>LengthRatio</key>
		<real>0.3984375</real>
		<key>ParamsVersion</key>
		<integer>1</integer>
		<key>RandomAngle</key>
		<real>0.0</real>
		<key>RandomInterval</key>
		<real>0.0</real>
		<key>RandomLength</key>
		<real>0.0</real>
		<key>RandomSeed</key>
		<integer>558817384</integer>
		<key>RandomWiggle</key>
		<real>0.0</real>
		<key>RootColor</key>
		<integer>4280585782</integer>
		<key>Spikiness</key>
		<real>0.79427081346511841</real>
		<key>Spin</key>
		<real>0.51302081346511841</real>
		<key>Spread</key>
		<real>0.2734375</real>
		<key>TreeType</key>
		<integer>0</integer>
		<key>TrunkTaper</key>
		<real>0.91927081346511841</real>
		<key>TrunkWidth</key>
		<real>0.1484375</real>
		<key>Twist</key>
		<real>0.7109375</real>
	</dict>
	<dict>
		<key>AngleMode</key>
		<integer>3</integer>
		<key>AnimAspectD</key>
		<real>0.0</real>
		<key>AnimAspectR</key>
		<real>0.37000000476837158</real>
		<key>AnimBalanceD</key>
		<real>0.0</real>
		<key>AnimBalanceR</key>
		<real>0.37999999523162842</real>
		<key>AnimBendD</key>
		<real>0.0</real>
		<key>AnimBendR</key>
		<real>0.89393937587738037</real>
		<key>AnimGeoDelayD</key>
		<real>0.0</real>
		<key>AnimGeoDelayR</key>
		<real>0.34999999403953552</real>
		<key>AnimGeoRatioD</key>
		<real>0.0</real>
		<key>AnimGeoRatioR</key>
		<real>0.79090911149978638</real>
		<key>AnimLengthBalanceD</key>
		<real>0.0</real>
		<key>AnimLengthBalanceR</key>
		<real>0.38999998569488525</real>
		<key>AnimLengthRatioD</key>
		<real>0.0</real>
		<key>AnimLengthRatioR</key>
		<real>0.71212118864059448</real>
		<key>AnimSpinD</key>
		<real>0.063636362552642822</real>
		<key>AnimSpinR</key>
		<real>0.65757578611373901</real>
		<key>AnimSpreadD</key>
		<real>0.0</real>
		<key>AnimSpreadR</key>
		<real>0.22727273404598236</real>
		<key>AnimTwistD</key>
		<real>0.0</real>
		<key>AnimTwistR</key>
		<real>0.33000001311302185</real>
		<key>AnimWindDepth</key>
		<real>0.2369791716337204</real>
		<key>AnimWindRate</key>
		<real>0.2161458283662796</real>
		<key>ApexType</key>
		<integer>2</integer>
		<key>Aspect</key>
		<real>0.5</real>
		<key>BackgroundColor</key>
		<integer>4289438178</integer>
		<key>Balance</key>
		<real>0.59282475709915161</real>
		<key>Bend</key>
		<real>0.54935252666473389</real>
		<key>BranchCount</key>
		<integer>1</integer>
		<key>ColorSize</key>
		<real>0.2942708432674408</real>
		<key>ColorTransition</key>
		<real>0.8671875</real>
		<key>Detail</key>
		<real>1</real>
		<key>GeoDelay</key>
		<real>0.3828125</real>
		<key>GeoNodes</key>
		<integer>3</integer>
		<key>GeoRatio</key>
		<real>0.65364581346511841</real>
		<key>IconFile</key>
		<string>BC93DE3E-CD40-4956-B2E6-32FF9E51AB15</string>
		<key>IntervalCount</key>
		<integer>3</integer>
		<key>IntervalStart</key>
		<integer>3</integer>
		<key>LeafColor</key>
		<integer>4284963763</integer>
		<key>LengthBalance</key>
		<real>0.5</real>
		<key>LengthRatio</key>
		<real>0.4557291567325592</real>
		<key>ParamsVersion</key>
		<integer>1</integer>
		<key>RandomAngle</key>
		<real>0.6796875</real>
		<key>RandomInterval</key>
		<real>0.0</real>
		<key>RandomLength</key>
		<real>0.3255208432674408</real>
		<key>RandomSeed</key>
		<integer>820557235</integer>
		<key>RandomWiggle</key>
		<real>0.1119791641831398</real>
		<key>RootColor</key>
		<integer>4279835440</integer>
		<key>Spikiness</key>
		<real>0.3828125</real>
		<key>Spin</key>
		<real>0.55135399103164673</real>
		<key>Spread</key>
		<real>0.98700016736984253</real>
		<key>TreeType</key>
		<integer>0</integer>
		<key>TrunkTaper</key>
		<real>0.95052081346511841</real>
		<key>TrunkWidth</key>
		<real>0.59635418653488159</real>
		<key>Twist</key>
		<real>0.9453125</real>
	</dict>
	<dict>
		<key>AngleMode</key>
		<integer>2</integer>
		<key>AnimAspectD</key>
		<real>0.0</real>
		<key>AnimAspectR</key>
		<real>0.37000000476837158</real>
		<key>AnimBalanceD</key>
		<real>0.0</real>
		<key>AnimBalanceR</key>
		<real>0.37999999523162842</real>
		<key>AnimBendD</key>
		<real>0.0</real>
		<key>AnimBendR</key>
		<real>0.31000000238418579</real>
		<key>AnimGeoDelayD</key>
		<real>0.0</real>
		<key>AnimGeoDelayR</key>
		<real>0.34999999403953552</real>
		<key>AnimGeoRatioD</key>
		<real>0.0</real>
		<key>AnimGeoRatioR</key>
		<real>0.36000001430511475</real>
		<key>AnimLengthBalanceD</key>
		<real>0.0</real>
		<key>AnimLengthBalanceR</key>
		<real>0.38999998569488525</real>
		<key>AnimLengthRatioD</key>
		<real>0.0</real>
		<key>AnimLengthRatioR</key>
		<real>0.40303030610084534</real>
		<key>AnimSpinD</key>
		<real>0.33030304312705994</real>
		<key>AnimSpinR</key>
		<real>0.31999999284744263</real>
		<key>AnimSpreadD</key>
		<real>0.0</real>
		<key>AnimSpreadR</key>
		<real>0.29393938183784485</real>
		<key>AnimTwistD</key>
		<real>0.34242424368858337</real>
		<key>AnimTwistR</key>
		<real>0.33000001311302185</real>
		<key>AnimWindDepth</key>
		<real>0.1067708358168602</real>
		<key>AnimWindRate</key>
		<real>0.4661458432674408</real>
		<key>ApexType</key>
		<integer>0</integer>
		<key>Aspect</key>
		<real>0.5</real>
		<key>BackgroundColor</key>
		<integer>4280763269</integer>
		<key>Balance</key>
		<real>0.5</real>
		<key>Bend</key>
		<real>0.5</real>
		<key>BranchCount</key>
		<integer>2</integer>
		<key>ColorSize</key>
		<real>0.50260418653488159</real>
		<key>ColorTransition</key>
		<real>0.67447918653488159</real>
		<key>Detail</key>
		<real>0.59635418653488159</real>
		<key>GeoDelay</key>
		<real>0.2838541567325592</real>
		<key>GeoNodes</key>
		<integer>4</integer>
		<key>GeoRatio</key>
		<real>0.7109375</real>
		<key>IconFile</key>
		<string>F5DF366C-D667-47DA-84BB-F3A6E9CC9A51</string>
		<key>IntervalCount</key>
		<integer>1</integer>
		<key>IntervalStart</key>
		<integer>2</integer>
		<key>LeafColor</key>
		<integer>4292666359</integer>
		<key>LengthBalance</key>
		<real>0.5</real>
		<key>LengthRatio</key>
		<real>0.4817708432674408</real>
		<key>ParamsVersion</key>
		<integer>1</integer>
		<key>RandomAngle</key>
		<real>0.0</real>
		<key>RandomInterval</key>
		<real>1</real>
		<key>RandomLength</key>
		<real>0.0</real>
		<key>RandomSeed</key>
		<integer>193222186</integer>
		<key>RandomWiggle</key>
		<real>0.0</real>
		<key>RootColor</key>
		<integer>4294923895</integer>
		<key>Spikiness</key>
		<real>0.0</real>
		<key>Spin</key>
		<real>0.51302081346511841</real>
		<key>Spread</key>
		<real>0.2213541716337204</real>
		<key>TreeType</key>
		<integer>0</integer>
		<key>TrunkTaper</key>
		<real>0.9453125</real>
		<key>TrunkWidth</key>
		<real>0.5546875</real>
		<key>Twist</key>
		<real>0.7109375</real>
	</dict>
	<dict>
		<key>AngleMode</key>
		<integer>0</integer>
		<key>AnimAspectD</key>
		<real>0.0</real>
		<key>AnimAspectR</key>
		<real>0.21515151858329773</real>
		<key>AnimBalanceD</key>
		<real>0.73636364936828613</real>
		<key>AnimBalanceR</key>
		<real>0.28787878155708313</real>
		<key>AnimBendD</key>
		<real>0.34848484396934509</real>
		<key>AnimBendR</key>
		<real>0.40909090638160706</real>
		<key>AnimGeoDelayD</key>
		<real>0.0</real>
		<key>AnimGeoDelayR</key>
		<real>0.34999999403953552</real>
		<key>AnimGeoRatioD</key>
		<real>0.0</real>
		<key>AnimGeoRatioR</key>
		<real>0.36000001430511475</real>
		<key>AnimLengthBalanceD</key>
		<real>0.0</real>
		<key>AnimLengthBalanceR</key>
		<real>0.24545454978942871</real>
		<key>AnimLengthRatioD</key>
		<real>0.41515150666236877</real>
		<key>AnimLengthRatioR</key>
		<real>0.28181818127632141</real>
		<key>AnimSpinD</key>
		<real>0.54848486185073853</real>
		<key>AnimSpinR</key>
		<real>0.31999999284744263</real>
		<key>AnimSpreadD</key>
		<real>0.65151512622833252</real>
		<key>AnimSpreadR</key>
		<real>0.49393939971923828</real>
		<key>AnimTwistD</key>
		<real>0.46969696879386902</real>
		<key>AnimTwistR</key>
		<real>0.33000001311302185</real>
		<key>AnimWindDepth</key>
		<real>0.0</real>
		<key>AnimWindRate</key>
		<real>0.80989581346511841</real>
		<key>ApexType</key>
		<integer>0</integer>
		<key>Aspect</key>
		<real>0.5</real>
		<key>BackgroundColor</key>
		<integer>4278386783</integer>
		<key>Balance</key>
		<real>0.74739581346511841</real>
		<key>Bend</key>
		<real>0.5</real>
		<key>BranchCount</key>
		<integer>2</integer>
		<key>ColorSize</key>
		<real>0.2161458283662796</real>
		<key>ColorTransition</key>
		<real>0.65885418653488159</real>
		<key>Detail</key>
		<real>1</real>
		<key>GeoDelay</key>
		<real>0.0546875</real>
		<key>GeoNodes</key>
		<integer>12</integer>
		<key>GeoRatio</key>
		<real>0.66927081346511841</real>
		<key>IconFile</key>
		<string>B0B3AA89-960B-4102-9455-76E17F2D481D</string>
		<key>IntervalCount</key>
		<integer>0</integer>
		<key>IntervalStart</key>
		<integer>2</integer>
		<key>LeafColor</key>
		<integer>4290187137</integer>
		<key>LengthBalance</key>
		<real>0.5</real>
		<key>LengthRatio</key>
		<real>0.68489581346511841</real>
		<key>ParamsVersion</key>
		<integer>1</integer>
		<key>RandomAngle</key>
		<real>0.0</real>
		<key>RandomInterval</key>
		<real>0.0</real>
		<key>RandomLength</key>
		<real>0.0</real>
		<key>RandomSeed</key>
		<integer>336537943</integer>
		<key>RandomWiggle</key>
		<real>0.0</real>
		<key>RootColor</key>
		<integer>4290509758</integer>
		<key>Spikiness</key>
		<real>0.0</real>
		<key>Spin</key>
		<real>0.51072853803634644</real>
		<key>Spread</key>
		<real>0.2942708432674408</real>
		<key>TreeType</key>
		<integer>0</integer>
		<key>TrunkTaper</key>
		<real>0.63802081346511841</real>
		<key>TrunkWidth</key>
		<real>1</real>
		<key>Twist</key>
		<real>0.7109375</real>
	</dict>
	<dict>
		<key>AngleMode</key>
		<integer>2</integer>
		<key>AnimAspectD</key>
		<real>0.0</real>
		<key>AnimAspectR</key>
		<real>0.37000000476837158</real>
		<key>AnimBalanceD</key>
		<real>0.0</real>
		<key>AnimBalanceR</key>
		<real>0.37999999523162842</real>
		<key>AnimBendD</key>
		<real>0.0</real>
		<key>AnimBendR</key>
		<real>0.31000000238418579</real>
		<key>AnimGeoDelayD</key>
		<real>0.0</real>
		<key>AnimGeoDelayR</key>
		<real>0.34999999403953552</real>
		<key>AnimGeoRatioD</key>
		<real>0.0</real>
		<key>AnimGeoRatioR</key>
		<real>0.36000001430511475</real>
		<key>AnimLengthBalanceD</key>
		<real>0.0</real>
		<key>AnimLengthBalanceR</key>
		<real>0.38999998569488525</real>
		<key>AnimLengthRatioD</key>
		<real>0.0</real>
		<key>AnimLengthRatioR</key>
		<real>0.71212118864059448</real>
		<key>AnimSpinD</key>
		<real>0.0</real>
		<key>AnimSpinR</key>
		<real>0.31999999284744263</real>
		<key>AnimSpreadD</key>
		<real>0.0</real>
		<key>AnimSpreadR</key>
		<real>0.77272725105285645</real>
		<key>AnimTwistD</key>
		<real>0.0</real>
		<key>AnimTwistR</key>
		<real>0.33000001311302185</real>
		<key>AnimWindDepth</key>
		<real>0.4192708432674408</real>
		<key>AnimWindRate</key>
		<real>0.1276041716337204</real>
		<key>ApexType</key>
		<integer>2</integer>
		<key>Aspect</key>
		<real>0.5</real>
		<key>BackgroundColor</key>
		<integer>4290888869</integer>
		<key>Balance</key>
		<real>0.54503989219665527</real>
		<key>Bend</key>
		<real>0.57552069425582886</real>
		<key>BranchCount</key>
		<integer>2</integer>
		<key>ColorSize</key>
		<real>0.2265625</real>
		<key>ColorTransition</key>
		<real>0.76822918653488159</real>
		<key>Detail</key>
		<real>0.59114581346511841</real>
		<key>GeoDelay</key>
		<real>0.4296875</real>
		<key>GeoNodes</key>
		<integer>4</integer>
		<key>GeoRatio</key>
		<real>0.67447918653488159</real>
		<key>IconFile</key>
		<string>6C663914-0A2D-4383-8187-3EEBB57BE3A0</string>
		<key>IntervalCount</key>
		<integer>2</integer>
		<key>IntervalStart</key>
		<integer>2</integer>
		<key>LeafColor</key>
		<integer>4278255427</integer>
		<key>LengthBalance</key>
		<real>0.5</real>
		<key>LengthRatio</key>
		<real>0.51302081346511841</real>
		<key>ParamsVersion</key>
		<integer>1</integer>
		<key>RandomAngle</key>
		<real>0.0</real>
		<key>RandomInterval</key>
		<real>0.0</real>
		<key>RandomLength</key>
		<real>0.0</real>
		<key>RandomSeed</key>
		<integer>438134985</integer>
		<key>RandomWiggle</key>
		<real>0.0</real>
		<key>RootColor</key>
		<integer>4283703060</integer>
		<key>Spikiness</key>
		<real>1</real>
		<key>Spin</key>
		<real>0.37427070736885071</real>
		<key>Spread</key>
		<real>0.67760401964187622</real>
		<key>TreeType</key>
		<integer>1</integer>
		<key>TrunkTaper</key>
		<real>0.84635418653488159</real>
		<key>TrunkWidth</key>
		<real>0.4505208432674408</real>
		<key>Twist</key>
		<real>0.62760418653488159</real>
	</dict>
	<dict>
		<key>AngleMode</key>
		<integer>3</integer>
		<key>AnimAspectD</key>
		<real>0.0</real>
		<key>AnimAspectR</key>
		<real>0.21515151858329773</real>
		<key>AnimBalanceD</key>
		<real>0.0</real>
		<key>AnimBalanceR</key>
		<real>1</real>
		<key>AnimBendD</key>
		<real>0.10000000149011612</real>
		<key>AnimBendR</key>
		<real>0.44545453786849976</real>
		<key>AnimGeoDelayD</key>
		<real>0.0</real>
		<key>AnimGeoDelayR</key>
		<real>0.34999999403953552</real>
		<key>AnimGeoRatioD</key>
		<real>0.0</real>
		<key>AnimGeoRatioR</key>
		<real>0.36000001430511475</real>
		<key>AnimLengthBalanceD</key>
		<real>0.1666666716337204</real>
		<key>AnimLengthBalanceR</key>
		<real>0.6454545259475708</real>
		<key>AnimLengthRatioD</key>
		<real>0.0</real>
		<key>AnimLengthRatioR</key>
		<real>0.34848484396934509</real>
		<key>AnimSpinD</key>
		<real>0.54848486185073853</real>
		<key>AnimSpinR</key>
		<real>0.31999999284744263</real>
		<key>AnimSpreadD</key>
		<real>0.1666666716337204</real>
		<key>AnimSpreadR</key>
		<real>0.32424241304397583</real>
		<key>AnimTwistD</key>
		<real>0.46969696879386902</real>
		<key>AnimTwistR</key>
		<real>0.33000001311302185</real>
		<key>AnimWindDepth</key>
		<real>0.2682291567325592</real>
		<key>AnimWindRate</key>
		<real>0.80989581346511841</real>
		<key>ApexType</key>
		<integer>3</integer>
		<key>Aspect</key>
		<real>0.5</real>
		<key>BackgroundColor</key>
		<integer>4286425229</integer>
		<key>Balance</key>
		<real>0.5</real>
		<key>Bend</key>
		<real>0.40885418653488159</real>
		<key>BranchCount</key>
		<integer>2</integer>
		<key>ColorSize</key>
		<real>0.3307291567325592</real>
		<key>ColorTransition</key>
		<real>0.7109375</real>
		<key>Detail</key>
		<real>0.76302081346511841</real>
		<key>GeoDelay</key>
		<real>0.0546875</real>
		<key>GeoNodes</key>
		<integer>12</integer>
		<key>GeoRatio</key>
		<real>0.66927081346511841</real>
		<key>IconFile</key>
		<string>301A9BE7-4527-45D3-A3DB-DBD013C25289</string>
		<key>IntervalCount</key>
		<integer>4</integer>
		<key>IntervalStart</key>
		<integer>5</integer>
		<key>LeafColor</key>
		<integer>4294944824</integer>
		<key>LengthBalance</key>
		<real>0.5</real>
		<key>LengthRatio</key>
		<real>0.66927081346511841</real>
		<key>ParamsVersion</key>
		<integer>1</integer>
		<key>RandomAngle</key>
		<real>0.0</real>
		<key>RandomInterval</key>
		<real>0.0</real>
		<key>RandomLength</key>
		<real>0.0</real>
		<key>RandomSeed</key>
		<integer>731800838</integer>
		<key>RandomWiggle</key>
		<real>0.0</real>
		<key>RootColor</key>
		<integer>4278190080</integer>
		<key>Spikiness</key>
		<real>0.65364581346511841</real>
		<key>Spin</key>
		<real>0.51072853803634644</real>
		<key>Spread</key>
		<real>0.51822918653488159</real>
		<key>TreeType</key>
		<integer>0</integer>
		<key>TrunkTaper</key>
		<real>1</real>
		<key>TrunkWidth</key>
		<real>0.065104164183139801</real>
		<key>Twist</key>
		<real>0.7109375</real>
	</dict>
	<dict>
		<key>AngleMode</key>
		<integer>0</integer>
		<key>AnimAspectD</key>
		<real>0.0</real>
		<key>AnimAspectR</key>
		<real>0.37000000476837158</real>
		<key>AnimBalanceD</key>
		<real>0.0</real>
		<key>AnimBalanceR</key>
		<real>0.37999999523162842</real>
		<key>AnimBendD</key>
		<real>0.42121210694313049</real>
		<key>AnimBendR</key>
		<real>0.16060605645179749</real>
		<key>AnimGeoDelayD</key>
		<real>0.0</real>
		<key>AnimGeoDelayR</key>
		<real>0.34999999403953552</real>
		<key>AnimGeoRatioD</key>
		<real>0.0</real>
		<key>AnimGeoRatioR</key>
		<real>0.36000001430511475</real>
		<key>AnimLengthBalanceD</key>
		<real>0.0</real>
		<key>AnimLengthBalanceR</key>
		<real>0.38999998569488525</real>
		<key>AnimLengthRatioD</key>
		<real>0.0</real>
		<key>AnimLengthRatioR</key>
		<real>0.34000000357627869</real>
		<key>AnimSpinD</key>
		<real>0.53030300140380859</real>
		<key>AnimSpinR</key>
		<real>0.40303030610084534</real>
		<key>AnimSpreadD</key>
		<real>0.13636364042758942</real>
		<key>AnimSpreadR</key>
		<real>0.30000001192092896</real>
		<key>AnimTwistD</key>
		<real>0.58484846353530884</real>
		<key>AnimTwistR</key>
		<real>0.33000001311302185</real>
		<key>AnimWindDepth</key>
		<real>0.15000000596046448</real>
		<key>AnimWindRate</key>
		<real>0.5</real>
		<key>ApexType</key>
		<integer>3</integer>
		<key>Aspect</key>
		<real>0.5</real>
		<key>BackgroundColor</key>
		<integer>4285904345</integer>
		<key>Balance</key>
		<real>0.54503989219665527</real>
		<key>Bend</key>
		<real>0.4192708432674408</real>
		<key>BranchCount</key>
		<integer>2</integer>
		<key>ColorSize</key>
		<real>0.2057291716337204</real>
		<key>ColorTransition</key>
		<real>0.7421875</real>
		<key>Detail</key>
		<real>0.69999998807907104</real>
		<key>GeoDelay</key>
		<real>0.0546875</real>
		<key>GeoNodes</key>
		<integer>12</integer>
		<key>GeoRatio</key>
		<real>0.66927081346511841</real>
		<key>IconFile</key>
		<string>39844829-9F9C-4699-905A-E1C56C6BC9CB</string>
		<key>IntervalCount</key>
		<integer>2</integer>
		<key>IntervalStart</key>
		<integer>2</integer>
		<key>LeafColor</key>
		<integer>4294921622</integer>
		<key>LengthBalance</key>
		<real>0.5</real>
		<key>LengthRatio</key>
		<real>0.5234375</real>
		<key>ParamsVersion</key>
		<integer>1</integer>
		<key>RandomAngle</key>
		<real>0.0</real>
		<key>RandomInterval</key>
		<real>0.0</real>
		<key>RandomLength</key>
		<real>0.0</real>
		<key>RandomSeed</key>
		<integer>438134985</integer>
		<key>RandomWiggle</key>
		<real>0.0</real>
		<key>RootColor</key>
		<integer>4280094733</integer>
		<key>Spikiness</key>
		<real>1</real>
		<key>Spin</key>
		<real>0.52864581346511841</real>
		<key>Spread</key>
		<real>0.27381253242492676</real>
		<key>TreeType</key>
		<integer>1</integer>
		<key>TrunkTaper</key>
		<real>1</real>
		<key>TrunkWidth</key>
		<real>0.1692708283662796</real>
		<key>Twist</key>
		<real>0.68489563465118408</real>
	</dict>
	<dict>
		<key>AngleMode</key>
		<integer>2</integer>
		<key>AnimAspectD</key>
		<real>0.0</real>
		<key>AnimAspectR</key>
		<real>0.21515151858329773</real>
		<key>AnimBalanceD</key>
		<real>0.0</real>
		<key>AnimBalanceR</key>
		<real>1</real>
		<key>AnimBendD</key>
		<real>0.0</real>
		<key>AnimBendR</key>
		<real>0.44545453786849976</real>
		<key>AnimGeoDelayD</key>
		<real>0.0</real>
		<key>AnimGeoDelayR</key>
		<real>0.34999999403953552</real>
		<key>AnimGeoRatioD</key>
		<real>0.0</real>
		<key>AnimGeoRatioR</key>
		<real>0.36000001430511475</real>
		<key>AnimLengthBalanceD</key>
		<real>0.0</real>
		<key>AnimLengthBalanceR</key>
		<real>0.6454545259475708</real>
		<key>AnimLengthRatioD</key>
		<real>0.0</real>
		<key>AnimLengthRatioR</key>
		<real>0.34848484396934509</real>
		<key>AnimSpinD</key>
		<real>0.54848486185073853</real>
		<key>AnimSpinR</key>
		<real>0.31999999284744263</real>
		<key>AnimSpreadD</key>
		<real>0.0</real>
		<key>AnimSpreadR</key>
		<real>0.32424241304397583</real>
		<key>AnimTwistD</key>
		<real>0.46969696879386902</real>
		<key>AnimTwistR</key>
		<real>0.33000001311302185</real>
		<key>AnimWindDepth</key>
		<real>0.2057291716337204</real>
		<key>AnimWindRate</key>
		<real>0.2109375</real>
		<key>ApexType</key>
		<integer>3</integer>
		<key>Aspect</key>
		<real>0.5</real>
		<key>BackgroundColor</key>
		<integer>4290707455</integer>
		<key>Balance</key>
		<real>0.64843744039535522</real>
		<key>Bend</key>
		<real>0.4557291567325592</real>
		<key>BranchCount</key>
		<integer>2</integer>
		<key>ColorSize</key>
		<real>0.2630208432674408</real>
		<key>ColorTransition</key>
		<real>0.65885418653488159</real>
		<key>Detail</key>
		<real>0.69999998807907104</real>
		<key>GeoDelay</key>
		<real>0.0546875</real>
		<key>GeoNodes</key>
		<integer>12</integer>
		<key>GeoRatio</key>
		<real>0.66927081346511841</real>
		<key>IconFile</key>
		<string>3E30BDF1-E74D-4001-897F-51B22C425FA5</string>
		<key>IntervalCount</key>
		<integer>1</integer>
		<key>IntervalStart</key>
		<integer>2</integer>
		<key>LeafColor</key>
		<integer>4280891254</integer>
		<key>LengthBalance</key>
		<real>0.5</real>
		<key>LengthRatio</key>
		<real>0.4869791567325592</real>
		<key>ParamsVersion</key>
		<integer>1</integer>
		<key>RandomAngle</key>
		<real>0.2265625</real>
		<key>RandomInterval</key>
		<real>0.1796875</real>
		<key>RandomLength</key>
		<real>0.2213541716337204</real>
		<key>RandomSeed</key>
		<integer>583431415</integer>
		<key>RandomWiggle</key>
		<real>0.1901041716337204</real>
		<key>RootColor</key>
		<integer>4294115889</integer>
		<key>Spikiness</key>
		<real>0.86197918653488159</real>
		<key>Spin</key>
		<real>0.51072853803634644</real>
		<key>Spread</key>
		<real>0.24545454978942871</real>
		<key>TreeType</key>
		<integer>0</integer>
		<key>TrunkTaper</key>
		<real>1</real>
		<key>TrunkWidth</key>
		<real>0.54947918653488159</real>
		<key>Twist</key>
		<real>0.7109375</real>
	</dict>
	<dict>
		<key>AngleMode</key>
		<integer>0</integer>
		<key>AnimAspectD</key>
		<real>0.0</real>
		<key>AnimAspectR</key>
		<real>0.37000000476837158</real>
		<key>AnimBalanceD</key>
		<real>0.0</real>
		<key>AnimBalanceR</key>
		<real>0.37999999523162842</real>
		<key>AnimBendD</key>
		<real>0.0</real>
		<key>AnimBendR</key>
		<real>0.89393937587738037</real>
		<key>AnimGeoDelayD</key>
		<real>0.0</real>
		<key>AnimGeoDelayR</key>
		<real>0.34999999403953552</real>
		<key>AnimGeoRatioD</key>
		<real>0.0</real>
		<key>AnimGeoRatioR</key>
		<real>0.79090911149978638</real>
		<key>AnimLengthBalanceD</key>
		<real>0.0</real>
		<key>AnimLengthBalanceR</key>
		<real>0.38999998569488525</real>
		<key>AnimLengthRatioD</key>
		<real>0.0</real>
		<key>AnimLengthRatioR</key>
		<real>0.71212118864059448</real>
		<key>AnimSpinD</key>
		<real>0.063636362552642822</real>
		<key>AnimSpinR</key>
		<real>0.65757578611373901</real>
		<key>AnimSpreadD</key>
		<real>0.0</real>
		<key>AnimSpreadR</key>
		<real>0.22727273404598236</real>
		<key>AnimTwistD</key>
		<real>0.0</real>
		<key>AnimTwistR</key>
		<real>0.33000001311302185</real>
		<key>AnimWindDepth</key>
		<real>0.1432291716337204</real>
		<key>AnimWindRate</key>
		<real>0.7890625</real>
		<key>ApexType</key>
		<integer>3</integer>
		<key>Aspect</key>
		<real>0.5</real>
		<key>BackgroundColor</key>
		<integer>4284555091</integer>
		<key>Balance</key>
		<real>0.54503989219665527</real>
		<key>Bend</key>
		<real>0.5</real>
		<key>BranchCount</key>
		<integer>1</integer>
		<key>ColorSize</key>
		<real>0.2734375</real>
		<key>ColorTransition</key>
		<real>0.74739581346511841</real>
		<key>Detail</key>
		<real>0.83072918653488159</real>
		<key>GeoDelay</key>
		<real>0.3828125</real>
		<key>GeoNodes</key>
		<integer>5</integer>
		<key>GeoRatio</key>
		<real>0.65364581346511841</real>
		<key>IconFile</key>
		<string>245E6579-F7AC-4DEF-AE57-8E461BC37FAE</string>
		<key>IntervalCount</key>
		<integer>2</integer>
		<key>IntervalStart</key>
		<integer>2</integer>
		<key>LeafColor</key>
		<integer>4294439625</integer>
		<key>LengthBalance</key>
		<real>0.5</real>
		<key>LengthRatio</key>
		<real>0.65364581346511841</real>
		<key>ParamsVersion</key>
		<integer>1</integer>
		<key>RandomAngle</key>
		<real>1</real>
		<key>RandomInterval</key>
		<real>0.72135418653488159</real>
		<key>RandomLength</key>
		<real>0.0546875</real>
		<key>RandomSeed</key>
		<integer>218232137</integer>
		<key>RandomWiggle</key>
		<real>0.5234375</real>
		<key>RootColor</key>
		<integer>4287921013</integer>
		<key>Spikiness</key>
		<real>1</real>
		<key>Spin</key>
		<real>0.75260418653488159</real>
		<key>Spread</key>
		<real>0.3046875</real>
		<key>TreeType</key>
		<integer>1</integer>
		<key>TrunkTaper</key>
		<real>1</real>
		<key>TrunkWidth</key>
		<real>0.1640625</real>
		<key>Twist</key>
		<real>0.9453125</real>
	</dict>
	<dict>
		<key>AngleMode</key>
		<integer>0</integer>
		<key>AnimAspectD</key>
		<real>0.0</real>
		<key>AnimAspectR</key>
		<real>0.37000000476837158</real>
		<key>AnimBalanceD</key>
		<real>0.0</real>
		<key>AnimBalanceR</key>
		<real>0.37999999523162842</real>
		<key>AnimBendD</key>
		<real>0.0</real>
		<key>AnimBendR</key>
		<real>0.53636366128921509</real>
		<key>AnimGeoDelayD</key>
		<real>0.0</real>
		<key>AnimGeoDelayR</key>
		<real>0.34999999403953552</real>
		<key>AnimGeoRatioD</key>
		<real>0.0</real>
		<key>AnimGeoRatioR</key>
		<real>0.79090911149978638</real>
		<key>AnimLengthBalanceD</key>
		<real>0.0</real>
		<key>AnimLengthBalanceR</key>
		<real>0.38999998569488525</real>
		<key>AnimLengthRatioD</key>
		<real>0.0</real>
		<key>AnimLengthRatioR</key>
		<real>0.71212118864059448</real>
		<key>AnimSpinD</key>
		<real>0.16060605645179749</real>
		<key>AnimSpinR</key>
		<real>0.25151515007019043</real>
		<key>AnimSpreadD</key>
		<real>0.0</real>
		<key>AnimSpreadR</key>
		<real>0.82727271318435669</real>
		<key>AnimTwistD</key>
		<real>0.0</real>
		<key>AnimTwistR</key>
		<real>0.33000001311302185</real>
		<key>AnimWindDepth</key>
		<real>0.2994791567325592</real>
		<key>AnimWindRate</key>
		<real>0.3880208432674408</real>
		<key>ApexType</key>
		<integer>3</integer>
		<key>Aspect</key>
		<real>0.5</real>
		<key>BackgroundColor</key>
		<integer>4292341973</integer>
		<key>Balance</key>
		<real>0.54503989219665527</real>
		<key>Bend</key>
		<real>0.5</real>
		<key>BranchCount</key>
		<integer>6</integer>
		<key>ColorSize</key>
		<real>0.3098958432674408</real>
		<key>ColorTransition</key>
		<real>0.84114581346511841</real>
		<key>Detail</key>
		<real>0.83072918653488159</real>
		<key>GeoDelay</key>
		<real>0.2942708432674408</real>
		<key>GeoNodes</key>
		<integer>2</integer>
		<key>GeoRatio</key>
		<real>0.73697918653488159</real>
		<key>IconFile</key>
		<string>A00CF2C0-EA37-4EF2-B3B9-5C72EC5EBF69</string>
		<key>IntervalCount</key>
		<integer>2</integer>
		<key>IntervalStart</key>
		<integer>2</integer>
		<key>LeafColor</key>
		<integer>4288169938</integer>
		<key>LengthBalance</key>
		<real>0.5</real>
		<key>LengthRatio</key>
		<real>0.3411458432674408</real>
		<key>ParamsVersion</key>
		<integer>1</integer>
		<key>RandomAngle</key>
		<real>0.6484375</real>
		<key>RandomInterval</key>
		<real>0.0</real>
		<key>RandomLength</key>
		<real>0.7578125</real>
		<key>RandomSeed</key>
		<integer>886459510</integer>
		<key>RandomWiggle</key>
		<real>0.4453125</real>
		<key>RootColor</key>
		<integer>4284693760</integer>
		<key>Spikiness</key>
		<real>1</real>
		<key>Spin</key>
		<real>0.69010418653488159</real>
		<key>Spread</key>
		<real>0.2369791716337204</real>
		<key>TreeType</key>
		<integer>1</integer>
		<key>TrunkTaper</key>
		<real>1</real>
		<key>TrunkWidth</key>
		<real>0.1015625</real>
		<key>Twist</key>
		<real>0.66927081346511841</real>
	</dict>
	<dict>
		<key>AngleMode</key>
		<integer>0</integer>
		<key>AnimAspectD</key>
		<real>0.0</real>
		<key>AnimAspectR</key>
		<real>0.37000000476837158</real>
		<key>AnimBalanceD</key>
		<real>0.0</real>
		<key>AnimBalanceR</key>
		<real>0.37999999523162842</real>
		<key>AnimBendD</key>
		<real>0.13636364042758942</real>
		<key>AnimBendR</key>
		<real>0.34848484396934509</real>
		<key>AnimGeoDelayD</key>
		<real>0.0</real>
		<key>AnimGeoDelayR</key>
		<real>0.34999999403953552</real>
		<key>AnimGeoRatioD</key>
		<real>0.0</real>
		<key>AnimGeoRatioR</key>
		<real>0.36000001430511475</real>
		<key>AnimLengthBalanceD</key>
		<real>0.0</real>
		<key>AnimLengthBalanceR</key>
		<real>0.38999998569488525</real>
		<key>AnimLengthRatioD</key>
		<real>0.0</real>
		<key>AnimLengthRatioR</key>
		<real>0.34000000357627869</real>
		<key>AnimSpinD</key>
		<real>0.0</real>
		<key>AnimSpinR</key>
		<real>0.31999999284744263</real>
		<key>AnimSpreadD</key>
		<real>0.0</real>
		<key>AnimSpreadR</key>
		<real>0.30000001192092896</real>
		<key>AnimTwistD</key>
		<real>0.0</real>
		<key>AnimTwistR</key>
		<real>0.33000001311302185</real>
		<key>AnimWindDepth</key>
		<real>0.1744791716337204</real>
		<key>AnimWindRate</key>
		<real>0.54427081346511841</real>
		<key>ApexType</key>
		<integer>3</integer>
		<key>Aspect</key>
		<real>0.5</real>
		<key>BackgroundColor</key>
		<integer>4282857494</integer>
		<key>Balance</key>
		<real>0.39949998259544373</real>
		<key>Bend</key>
		<real>0.4140625</real>
		<key>BranchCount</key>
		<integer>1</integer>
		<key>ColorSize</key>
		<real>0.2109375</real>
		<key>ColorTransition</key>
		<real>0.71614581346511841</real>
		<key>Detail</key>
		<real>0.69999998807907104</real>
		<key>GeoDelay</key>
		<real>0.1223958358168602</real>
		<key>GeoNodes</key>
		<integer>5</integer>
		<key>GeoRatio</key>
		<real>0.6484375</real>
		<key>IconFile</key>
		<string>AED75C88-28A0-449A-8C8A-2AA8913B72D8</string>
		<key>IntervalCount</key>
		<integer>2</integer>
		<key>IntervalStart</key>
		<integer>2</integer>
		<key>LeafColor</key>
		<integer>4294963108</integer>
		<key>LengthBalance</key>
		<real>0.5</real>
		<key>LengthRatio</key>
		<real>0.5078125</real>
		<key>ParamsVersion</key>
		<integer>1</integer>
		<key>RandomAngle</key>
		<real>0.0</real>
		<key>RandomInterval</key>
		<real>0.0</real>
		<key>RandomLength</key>
		<real>0.0</real>
		<key>RandomSeed</key>
		<integer>168365648</integer>
		<key>RandomWiggle</key>
		<real>0.0</real>
		<key>RootColor</key>
		<integer>4290702504</integer>
		<key>Spikiness</key>
		<real>0.5</real>
		<key>Spin</key>
		<real>0.87760418653488159</real>
		<key>Spread</key>
		<real>0.1276041716337204</real>
		<key>TreeType</key>
		<integer>1</integer>
		<key>TrunkTaper</key>
		<real>1</real>
		<key>TrunkWidth</key>
		<real>0.044270832091569901</real>
		<key>Twist</key>
		<real>0.1484375</real>
	</dict>
</array>
</plist>
